@import "tailwindcss";

@font-face {
  font-family: 'Tungsten-bold';
  src: url('/fonts/Tungsten-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextW1G';
  src: url('/fonts/dinnextw1g.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FF-Mark';
  src: url('/fonts/FF-Mark-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.Tungsten-bold {
  font-family: 'Tungsten-bold', sans-serif;
}

.DINNextW1G {
  font-family: 'DINNextW1G', sans-serif;
}

.FF-Mark {
  font-family: 'FF-Mark', sans-serif;
}

.overlay-1 {
    background: linear-gradient(to top, rgb(15, 25, 35) 0%, transparent 100%) center bottom / 100% 50% no-repeat;
}

.overlay-2 {
    background: rgb(15, 25, 35);
    opacity: 0.2;
}

@theme inline {
  --color-nav-background: var(--nav-background);
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
}

:root {
  --nav-background: oklch(0.1776 0 0);
  --primary-background: oklch(0.935 0.0074 80.72);
  --secondary-background: oklch(0.6677 0.2199 21.34);
}

.dark {
  
}

.primary-light-button {
  font-family: 'DINNextW1G', sans-serif;
  font-size: 20px;
  color: var(--primary-background);
  background-color: var(--secondary-background);
  padding-inline: calc(var(--spacing) * 12);
  padding-block: calc(var(--spacing) * 4);
}

/*preloader css*/

.preloader-progress , .preloader-mask, .preloader-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  pointer-events: none;
}

.preloader-progress {
 background-color: var(--nav-background);
 z-index: 30;
 will-change: opacity;
}

.preloader-progress-bar {
  position: absolute;
  top: 0;
  left: 55%;
  transform: translateX(-60%) scaleX(0);
  width: 55%;
  height: 100%;
  background-color: var(--secondary-background);
  transform-origin: left;
  will-change: transform;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 31;
}

.preloader-logo h1 {
  position: relative;
  font-family: 'Tungsten-Bold';
  color: var(--primary-background);
  font-size: 5rem;
  line-height: 1;
}

.preloader-mask {
  background-color: black;
  mask: linear-gradient(var(--primary-background), var(--primary-background)), url('./assets/Svg/Rectangle.svg') center/50% no-repeat ;
  mask-composite: subtract;
  will-change: transform;
  z-index: 30;
}

.preloader-content {
  z-index: 33;
}

.preloader-footer {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  text-align: center;
}

.preloader-footer p {
  color: var(--primary-background);
  opacity: 0.5;
}



